body{
  font-family:'Open-sans', sana-serif;
  font-sioze:17px;
  line-height:1.5em;
  margin:0;
  padding:0;
}

.container{
  margin:auto;
}


/* Common classes*/

.primary-text{
  color:#56a79a;

}
.primary-background{
  background:#56a79a;

}

/* Header*/

#main-header{
/*  border-bottom:1px solid #56a79a;*/
  background:#35424a;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-botton:#e849id 4px solid;
}

/*navbar*/

#navbar{
  text-transform:uppercase;
}

#navbar li{
  display:inline;
  padding-right:20px;
  list-style:none;
}

#navbar a{
  text-decoration:none;
  color:#ffffff;
}

#navbar li.current a, #navbar a:hover{
  color:#56a79a;
  border-bottom: 3px solid #56a79a;
  padding-bottom: 3px;
}

/*showcase*/

#showcase{
  background:url('../images/ss5.jpg') no-repeat center center;
  border-bottom:1px solid #56a79a;
  margin-bottom:30px;
}

#showcase .row{
  height:600px;
}

#showcase h1{
  font-size:50px;
  margin:0;
  padding-bottom:20px;
}














